@import "tailwindcss";

@theme {
  --color-bg: #222A59;
  --color-panel: #4b558a;
  --color-primary: #5670BF;
  --color-danger: #F2CD13;
  --color-text: #fff;
  --color-muted: #8993af;
}

body {
  @apply bg-bg text-text;
}

a:any-link {
  @apply text-text no-underline;
}